# This is an explanation of what each parameter means.
internal:
  logfile: "./vinbero.log"　# logging file output place
  development: false # devlopting only. loglevel up and packetdump ... etc meaning
  devices: # nic interface name
    - eth1
    - eth2
settings:
  functions:
    - action: SEG6_LOCAL_ACTION_END
      triggerAddr: fc00:2::1/128
      actionSrcAddr: fc00:1::1 #optional
      flaver: NONE
    - action: SEG6_LOCAL_ACTION_END_DX6
      triggerAddr: fc00:2::1/128
      nexthop: fd00:2::1
      actionSrcAddr: fd00:2::2
    - action: SEG6_LOCAL_ACTION_END_DX4
      triggerAddr: fc00:2::1/128
      nexthop: 172.0.1.1
      actionSrcAddr: 172.0.1.2
    - action: SEG6_LOCAL_ACTION_END_DT4 # not impli
      triggerAddr: fc00:2::1/128
      nexthop: 172.0.1.0/24
      actionSrcAddr: 172.0.1.2
    - action: SEG6_LOCAL_ACTION_END_M_GTP4_E
      triggerAddr: fc00:2::1/128
      v4AddrPos: 64
    - action: SEG6_LOCAL_ACTION_END_M_GTP6_E
      triggerAddr: fc00:2::1/128
  transitv4:
    - action: SEG6_IPTUN_MODE_ENCAP
      triggerAddr: 172.0.2.0/24
      actionSrcAddr: fc00:1::1
      segments: # max size 5
        - fc00:3::3 # last arrive next hop
        - <many...>
        - fc00:2::1 # fast arrive next hop
    - action: SEG6_IPTUN_MODE_ENCAP_H_M_GTP4_D
      triggerAddr: 172.0.1.0/24
      actionSrcAddr: fc00:1::/64
      actionDstAddr: fc00:3::/64　# last arrive next hop
      segments: # max size 4
        - fc00:1::1
        - <many...>
        - fc00:2::1
  transitv6:
    - action: SEG6_IPTUN_MODE_ENCAP
      triggerAddr: fd00:1::1/64
      actionSrcAddr: fc00:1::1
      segments:
        - fc00:2::1
        - fc00:3::3
    - action: SEG6_IPTUN_MODE_ENCAP_T_M_GTP6_D
      triggerAddr: 172.0.1.0/24
      actionSrcAddr: fc00:1::/64
      actionDstAddr: fc00:3::/64　# last arrive next hop
      segments:
        - fc00:1::1
        - <many...>
        - fc00:2::1
